@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body{
    font-family: 'Quicksand', sans-serif;
}

/* Start Header */

/* Start Header Into */
.headerintros{
    height: 50px;
    background-color: darkblue;
}

.headerintros .infos{
    color: #fff;
    text-align: center;
    font-size: 12px;
    font-weight: 900;

    display: flex;
    justify-content: space-between;
}

@media (max-width: 1200px){

    .visiblelgs{
        display: none;
    }
}
/* End Header Intro */

/* Nav Section */
.navbar-toggler{
    color: #999;
    border: none;
}

.navbar-toggler:focus{
    color: darkblue;
    box-shadow: none;
}

.ellipses{
    display: block;   
    font-size: 20px;
    border: none;
    padding: 3px 0;
}
/* End Section */


/* Start Banner Secton */
.carousel-item{
    height: 60vh;
}

.banners1,.banners2,.banners3{
    background-image: url("../assets/img/banner/banner4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.banners2{
    background-image: url("../assets/img/banner/banner5.jpg");
}

.banners3{
    background-image: url("../assets/img/banner/banner6.jpg");
}

.btn-blues{
    color: #fff;
    background-color: darkblue;
}
/* End Banner Section */
/* End Header */

/* Start Features SEctione */
.iconboxes{
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
    padding: 50px 20px;

    position: relative;
}

.icons{
    width: 70px;
    height: 70px;
    color: #fff;
    background-color: lightseagreen;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: calc(50% - 35px);
    top: -35px;

    transition: all 0.3s;
}

.feature-texts{
    overflow: hidden;
    transform: scale(1);
    transition: all 0.3s;
}

.iconboxes:hover .icons{
    background-color: #fff;
    color: lightseagreen;
    border: 2px solid lightseagreen;
}

.iconboxes:hover .feature-texts{
    transform: scale(1.05);
}
/* End Features Section */

/* Start Info SEction */
.fromlefts{
    animation: myleft 3s;
}

.fromrights{
    animation: myright 3s;
}

@keyframes myleft {
    from{
        transform: translateX(-30px);
        opacity: 0;
    }to{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes myright {
    from{
        transform: translateX(30px);
        opacity: 0;
    }to{
        transform: translateX(0px);
        opacity: 1;
    }
}
/* End Info section */

/* Start Adv SEction */
.advs{
    height: 300px;
    color: #fff;
    text-shadow: -5px 0 10px #000;

    background-image: linear-gradient(
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    ), url("../assets/img/banner/banner1.jpg");

    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    align-items: center;
}

/* End Adv Section */

/* Start Department Section*/
.deptboxes{
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;

    position: relative;
    overflow: hidden;

    transition: all 0.3s;
}

.deptboxes img{
    width: 100%;
    object-fit: cover;

    transition: all 0.3s;
}

.deptboxes .contents{
    width: 80%;
    height: 100%;
    background-color: #fff;

    position: absolute;
    left: 10%;
    bottom: -85%;

    transition: all 0.3s;
}

.deptboxes a{
    background-color: steelblue;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 20px;

    display: inline-block;
    
    opacity: 0;
    transition: all 0.3s;
}

.deptboxes:hover .contents{
    width: 100%;
    height: 53%;

    left: 0;
    bottom: 0;
}

.deptboxes:hover a{
    opacity: 1;
    transition-delay: 0.3s;
}

.deptboxes:hover img{
    transform: scale(1.2);
}

.deptboxes:hover h3{
    color: steelblue;
  
    font-weight: bold;
    letter-spacing: 2px;
}

.deptboxes:hover p{
    width: 80%;
    margin: auto;
}
/* End Department SEction */

/* Start Pricing SEction */

#pricing{
    background-color: #f4f4f4;
}

.pricingcards{
    background-color: #fff;
    box-shadow: 0 0px 10px #f4f4f4;
    text-align: center;
    padding-bottom: 20px;
    transition: all 0.3s;
}

.pricingcards .pricingheaders{
    padding: 40px 20px;
    border-bottom: 2px solid #f3f3f3;
    transition: all 0.3s;
}

.pricingcards .prices{
    color: blue;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.pricingfeatures ul li{
    list-style: none;
    margin: 10px 0;
}

.btn-pricings{
    background: linear-gradient(
        -90deg,
        skyblue,
        blue
    );
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 20px;

    padding: 10px 30px;
    transition: all 0.3s;
}

.btn-pricings:hover{
    background: linear-gradient(
        90deg,
        skyblue,
        blue
    );
    color: #fff;
}

.pricingcards:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    transform: translateY(-20px);
    padding-bottom: 40px;
}

.pricingcards:hover .pricingheaders{
    background-image: linear-gradient(
        -90deg,
        skyblue,
        blue
    );
    color: #fff;
}

.movelefts{
    animation: movefromleft 2s;
}

.moverights{
    animation: movefromright 2s;
}

.movebottoms{
    animation: movefrombottom 2s;
}

@keyframes movefromleft {
    from{
        transform: translateX(-100px);
        opacity: 0;
    }to{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes movefromright {
    from{
        transform: translateX(100px);
        opacity: 0;
    }to{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes movefrombottom {
    from{
        transform: translateY(100px);
        opacity: 0;
    }to{
        transform: translateX(0);
        opacity: 1;
    }
}
/* End Pricing SEction */