@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body{
    font-family: 'Quicksand', sans-serif;
}

/* Start Header */

/* Start Header Into */
.headerintros{
    height: 50px;
    background-color: darkblue;
}

.headerintros .infos{
    color: #fff;
    text-align: center;
    font-size: 12px;
    font-weight: 900;

    display: flex;
    justify-content: space-between;
}

@media (max-width: 1200px){

    .visiblelgs{
        display: none;
    }
}
/* End Header Intro */

/* Nav Section */
.navbar-toggler{
    color: #999;
    border: none;
}

.navbar-toggler:focus{
    color: darkblue;
    box-shadow: none;
}

.ellipses{
    display: block;   
    font-size: 20px;
    border: none;
    padding: 3px 0;
}
/* End Section */


/* Start Banner Secton */
.carousel-item{
    height: 60vh;
}

.banners1,.banners2,.banners3{
    background-image: url("../assets/img/banner/banner4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.banners2{
    background-image: url("../assets/img/banner/banner5.jpg");
}

.banners3{
    background-image: url("../assets/img/banner/banner6.jpg");
}
/* End Banner Section */


/* End Header */

